@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@300;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Galada&family=Poppins:wght@300;600;900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: var(--main-font);
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset styles */

:root {
    --teal-1: hsl(185, 100%, 50%);
    --teal-2: hsl(185, 50%, 15%);
    --pink-1: hsl(305, 100%, 70%);
    --pink-2: hsl(305, 50%, 15%);
    --yellow-1: hsl(50, 100%, 50%);
    --yellow-2: hsl(50, 100%, 30%);
    --white-1: hsl(40, 30%, 95%);
    --white-2: hsl(40 30% 95% / 0.25);
    --background: hsl(0, 0%, 17%);
    --background-2: hsl(0 0% 17% / 0.9);
    --grey-1: hsl(0, 0%, 50%);
}


html,
body,
#pageContainer {
    height: 100%;
    width: 100%;
    font-family: 'Audiowide', sans-serif;
    background: var(--background);
    overflow: none;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    height: 40rem;
    width: 18rem;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    padding: 2rem 0.5rem;
    text-align: center;
}

#gameBoardContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "0 1 2"
        "3 4 5"
        "6 7 8";
    grid-gap: 0.5rem;
    width: 16rem;
    height: 16rem;
    margin: 3rem auto;
    justify-items: center;
    align-items: center;
    border-radius: 4px;
    background: var(--grey-1);
    box-shadow:
        0 0 10px 2px var(--grey-1);
}

#scoresContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75rem;
    max-width: 100%;

}

#buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 6rem;
    width: 10rem;
    margin: 0 auto;
}

.playerText {
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
    transition: all 300ms;
}

#playerOneScore h2 {
    color: var(--teal-1);
    text-shadow:
        0 0 1px var(--white-1),
        0 0 3px var(--teal-1),
        0 0 6px var(--teal-1);
}

#playerTwoScore h2 {
    color: var(--pink-1);
    text-shadow:
        0 0 1px var(--white-1),
        0 0 3px var(--pink-1),
        0 0 6px var(--pink-1);
}

.scoreText {
    font-size: 2rem;
    color: var(--yellow-1);
    text-shadow:
        0 0 1px var(--white-1),
        0 0 2px var(--yellow-1),
        0 0 4px var(--yellow-1);
}

.pageTitle {
    font-size: 2rem;
    color: var(--grey-1);
    opacity: 0.9;
}

.button {
    height: 2.5rem;
    background: transparent;
    color: var(--yellow-2);
    font-family: 'Audiowide', sans-serif;
    font-size: 1.25rem;
    border: 2px solid var(--yellow-2);
    border-radius: 6px;
    transition: all 300ms;
}

.button:hover {
    color: var(--yellow-1);
    text-shadow:
        0 0 1px var(--white-1),
        0 0 2px var(--yellow-1),
        0 0 4px var(--yellow-1);
    border: 2px solid var(--yellow-1);
    box-shadow:
        0 0 1px 0 var(--white-1),
        0 0 2px 0 var(--yellow-1),
        0 0 4px 0 var(--yellow-1),
        inset 0 0 1px 0 var(--white-1),
        inset 0 0 2px 0 var(--yellow-1),
        inset 0 0 4px 0 var(--yellow-1);

}

.teal {

    animation: tealFlicker 10s 1s infinite;

}

/*
.teal::before {
    content: '';
    position: absolute;
    height: 2rem;
    width: 1rem;
    background: var(--teal-1);
}
*/

.pink {

    animation: pinkFlicker 14s 4s infinite;

}

.yellow {

    animation: yellowFlicker 12s 3s infinite alternate;

}

.boardSpace {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    align-content: center;
    background: var(--background);
    border-radius: 4px;
    transition: all 300ms;
}

.boardSpace:hover,
.boardSpace:focus {
    box-shadow: inset 0 0 6px 0 var(--white-1);
}

.exDiv {
    height: 4rem;
    width: 0.375rem;
    margin: 0 auto;
    background: var(--teal-1);
    transform: rotate(45deg);
    box-shadow:
        0 0 2px 0 var(--white-1),
        0 0 4px 0 var(--teal-1),
        0 0 6px 0 var(--teal-1);
}

.exDiv::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 0.375rem;
    margin: 0 auto;
    background: var(--teal-1);
    transform: rotate(-90deg);
    box-shadow:
        0 0 2px 0 var(--white-1),
        0 0 4px 0 var(--teal-1),
        0 0 6px 0 var(--teal-1);
}

.ohDiv {
    height: 4rem;
    width: 4rem;
    margin: 0 auto;
    background: transparent;
    border-radius: 50%;
    border: .375rem var(--pink-1) solid;
    box-shadow:
        0 0 2px 0 var(--white-1),
        0 0 4px 0 var(--pink-1),
        0 0 6px 0 var(--pink-1),
        inset 0 0 2px 0 var(--white-1),
        inset 0 0 4px 0 var(--pink-1),
        inset 0 0 6px 0 var(--pink-1);
}

.winLine {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background: var(--yellow-1);
    border-radius: 3px;
    box-shadow:
        0 0 2px 0 var(--white-2),
        0 0 4px 0 var(--yellow-1),
        0 0 6px 0 var(--yellow-1);
}

.firstColumn {
    top: 0.5rem;
    transform: translateX(-5.5rem);
    animation: verticalAnimate 1s linear forwards;
}

.secondColumn {
    top: 0.5rem;
    animation: verticalAnimate 1s linear forwards;
}

.thirdColumn {
    top: 0.5rem;
    transform: translateX(5.5rem);
    animation: verticalAnimate 1s linear forwards;
}

.firstRow {
    left: 0.5rem;
    transform: translateY(-5.5rem);
    animation: horizontalAnimate 1s linear forwards;
}

.secondRow {
    left: 0.5rem;
    animation: horizontalAnimate 1s linear forwards;
}

.thirdRow {
    left: 0.5rem;
    transform: translateY(5.5rem);
    animation: horizontalAnimate 1s linear forwards;
}

.diagonalLeft {
    top: 1rem;
    left: 0.75rem;
    transform: rotate(-45deg);
    transform-origin: top;
    animation: diagonalAnimate 1s linear forwards;
}

.diagonalRight {
    top: 1rem;
    right: 0.75rem;
    transform: rotate(45deg);
    transform-origin: top;
    animation: diagonalAnimate 1s linear forwards;
}

.p1 {
    background: var(--teal-2);
}

.p2 {
    background: var(--pink-2);
}

.activeIndicator {
    position: absolute;
    height: 2.75rem;
    width: 8.625rem;
    background: transparent;
    border: 2px inset var(--white-1);
    border-radius: 8px;
    left: -0.25rem;
    transition: all 300ms;
}

.playerTwoActive {
    transform: translateX(8.75rem);
}

.endModal {
    position: absolute;
    top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
    padding: 0.5rem;
    border: 2px solid var(--white-1);
    border-radius: 8px;
    background: var(--background-2);
    box-shadow:
        0 0 2px 0 var(--white-1),
        0 0 5px 0 var(--pink-1),
        0 0 6px 0 var(--teal-1),
        inset 0 0 2px 0 var(--white-1),
        inset 0 0 5px 0 var(--pink-1),
        inset 0 0 6px 0 var(--teal-1);
    animation: fadeIn 3s linear forwards;
}

.endModalText {
    color: var(--white-1);
}

.endModalHeading {
    font-size: 1.25rem;
    color: var(--yellow-1);
    text-shadow:
        0 0 1px var(--white-2),
        0 0 3px var(--yellow-1),
        0 0 7px var(--yellow-1);
}

@keyframes tealFlicker {

    1%,
    21.5%,
    23%,
    54.5%,
    55.5%,
    99% {
        color: var(--teal-1);
        text-shadow:
            0 0 1px var(--white-2),
            0 0 3px var(--teal-1),
            0 0 10px var(--teal-1),
            0 0 30px var(--teal-1),
            0 0 40px var(--teal-1);
  }

  22.5%,
  55% {
    color: var(--teal-1);
    text-shadow:
        0 0 1px var(--white-2),
        0 0 2px var(--teal-1),
        0 0 4px var(--teal-1),
        0 0 6px var(--teal-1),
        0 0 10px var(--teal-1),
        0 0 30px var(--teal-1),
  }
}

@keyframes pinkFlicker {
    0%,
    16.5%,
    17.5%,
    18.5%,
    99% {
        color: var(--pink-1);
        text-shadow:
            0 0 1px var(--white-2),
            0 0 3px var(--pink-1),
            0 0 10px var(--pink-1),
            0 0 30px var(--pink-1),
            0 0 40px var(--pink-1);
  }

  17%,
  18% {
    color: var(--pink-1);
    text-shadow:
        0 0 1px var(--white-2),
        0 0 2px var(--pink-1),
        0 0 4px var(--pink-1),
        0 0 6px var(--pink-1),
        0 0 10px var(--pink-1),
        0 0 30px var(--pink-1),
  }
}

@keyframes yellowFlicker {
    0%,
    59% {
        color: var(--grey-1);
        text-shadow: none;
    }
    60%,
    74.5%,
    75.5%,
    99% {
        color: var(--yellow-1);
        text-shadow:
            0 0 1px var(--white-2),
            0 0 3px var(--yellow-1),
            0 0 10px var(--yellow-1),
            0 0 30px var(--yellow-1),
            0 0 40px var(--yellow-1);
  }

  75% {
    color: var(--yellow-1);
    text-shadow:
        0 0 1px var(--white-2),
        0 0 2px var(--yellow-1),
        0 0 4px var(--yellow-1),
        0 0 6px var(--yellow-1),
        0 0 10px var(--yellow-1),
        0 0 30px var(--yellow-1),
  }
}

@keyframes verticalAnimate {
    0% {
        height: 0.5rem;
        width: 0.5rem;
    }

    100% {
        height: 15rem;
        width: 0.5rem;
    }
}

@keyframes horizontalAnimate {
    0% {
        height: 0.5rem;
        width: 0.5rem;
    }

    100% {
        height: 0.5rem;
        width: 15rem;
    }
}

@keyframes diagonalAnimate {
    0% {
        height: 0.5rem;
    }

    100% {
        height: 20rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hidden {
    display: none;
}