@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@300;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Galada&family=Poppins:wght@300;600;900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: var(--main-font);
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset styles */

:root {
    --teal-1: hsl(185, 100%, 50%);
    --pink-1: hsl(305, 100%, 70%);
    --yellow-1: hsl(50, 100%, 50%);
    --white-1: hsl(40, 30%, 95%);
    --white-2: hsl(40 30% 95% / 0.25);
    --background: hsl(0, 0%, 17%);
    --grey-1: hsl(0, 0%, 50%);
}


html,
body,
#pageContainer {
    height: 100%;
    width: 100%;
    font-family: 'Audiowide', sans-serif;
    background: var(--background);
}

#pageContainer {
    padding: 2rem 0.5rem 0 0.5rem;
    text-align: center;
}

#gameBoardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5rem;
    width: 16rem;
    height: 16rem;
    margin: 3rem auto;
    justify-items: center;
    align-items: center;
    border-radius: 4px;
    background: var(--grey-1);
}

.pageTitle {
    font-size: 2rem;
    color: var(--grey-1);
    opacity: 0.9;
}

.teal {
    color: var(--teal-1);
    text-shadow:
        0 0 1px var(--white-2),
        0 0 3px var(--teal-1),
        0 0 10px var(--teal-1);
}

/*
.teal::before {
    content: '';
    position: absolute;
    height: 2rem;
    width: 1rem;
    background: var(--teal-1);
}
*/

.pink {
    color: var(--pink-1);
    text-shadow:
        0 0 1px var(--white-2),
        0 0 3px var(--pink-1),
        0 0 10px var(--pink-1);
}

.yellow {
    color: var(--yellow-1);
    text-shadow:
        0 0 1px var(--white-2),
        0 0 3px var(--yellow-1),
        0 0 10px var(--yellow-1);
}

.boardSpace {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    align-content: center;
    background: var(--background);
    border-radius: 4px;
    transition: all 300ms;
}

.boardSpace:hover,
.boardSpace:focus {
    box-shadow: inset 0 0 6px 0 var(--white-1);
}

/*
.ex::after, .ex::before {
    content:'';
    position: absolute;
    left: 1.75rem;
    top: 5.75rem;
    width: 4.5rem;
    height: .5rem;
    background-color: var(--teal-1);
    border-radius: 2px;
    box-shadow:
        0 0 2px 0 var(--white-2),
        0 0 4px 0 var(--teal-1),
        0 0 6px 0 var(--teal-1);
}

.ex::before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}
.ex::after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
*/

.exDiv {
    pointer-events: none;
    font-size: 4.25rem;
    font-weight: 900;
    color: var(--teal-1);
}

.ex {
    text-shadow:
        0 0 1px var(--white-2),
        0 0 3px var(--teal-1),
        0 0 10px var(--teal-1);

        /*
        https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
        prevent text-selection
        */
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.ohDiv {
    height: 4rem;
    width: 4rem;
    margin: 0 auto;
    background: transparent;
    border-radius: 50%;
    border: .375rem var(--pink-1) solid;
    box-shadow:
        0 0 2px 0 var(--white-2),
        0 0 4px 0 var(--pink-1),
        0 0 6px 0 var(--pink-1),
        inset 0 0 2px 0 var(--white-2),
        inset 0 0 4px 0 var(--pink-1),
        inset 0 0 6px 0 var(--pink-1);
    }